root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,yml,yaml}]
indent_size = 2

[{*.markdown,*.md}]
ij_markdown_wrap_text_if_long = false
ij_markdown_keep_line_breaks_inside_text_blocks = true